:root {
    font-family: sans-serif;
    font-size: 20px;
}

* {
    transition: all 0.2s;
}

/* Some base/default stuff */
.flex {
    display: flex;
    gap: 1rem;
}

.flex.row {
    flex-direction: row;
}

.flex.center {
    justify-content: center;
    align-items: center;
}

/* main stuff */

body {
    font-family: "Inter";
    margin: 0;
    background: #eeeeee;
    color: black;
}

body.loading {
    background-image: url("static/loading.svg");
    background-size: calc(100svh - 2rem);
    background-position: center 1rem;
    background-repeat: no-repeat;
}

body.loading>* {
    opacity: 0;
}

#top {
    height: 100svh;
    padding: 1em;
    background: linear-gradient(transparent 60%, #0005 80%, #000a 100%);
    box-sizing: border-box;
    transition: none;
}

#top::before {
    content: "";
    position: absolute;
    background: center/cover url("static/flight.jpg") no-repeat;
    background-attachment: fixed;
    background-size: 100vmax;
    background-position: 50% 50%;
    inset: 0;
    z-index: -10000;
}

/* 
@media screen and (max-width:500px) {
    #top::before {
        background-size: 100svh;
        background-position: 50% 50%;
    }
} */

#outer-page {
    background: #eee;
}

#top-interior>div>a {
    color: #abcaff;
    text-decoration: none;
    padding: 0.5em;
    border-radius: 1em;
    text-shadow: 0 0 0.5em black;
}

#top-interior>div>a:hover {
    text-shadow: 0 0 1em black;
    backdrop-filter: blur(1em);
    background: rgba(0, 0, 0, 0.5);
}

#top-interior {
    position: absolute;
    bottom: 0;
    color: white;
    padding-bottom: 2em;
}

h1.massive {
    font-size: 5rem;
    font-weight: 800;
    margin: 0;
}

footer {
    background: lightgray;
    padding: 1em 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.med-img {
    width: 350px;
    min-width: 300px;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.lr-split {
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#about-text {
    display: block;
}

#design-proc-desc-text {
    display: block;
}

a {
    color: #0060bf;
    text-decoration: underline #00000000;
}

a:hover {
    text-decoration: underline #0060bf;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 2rem);
    max-width: 100%;
    padding: 0.5rem 1rem;
    background: #eeeeee;
    border-bottom: #010101 solid 0.07em;
    justify-content: space-between;
    align-items: center;
    z-index: 4;
}

nav>div {
    align-items: center;
}

nav.stick {
    top: 0;
    left: 0;
    position: sticky;
}

#logo-name:hover {
    cursor: pointer;
}

.big-img {
    background-position: center;
    background-size: cover;
    height: 20rem;
    margin: 1rem 0;
    padding: 1rem;
}

.plane-img {
    background-image: url("static/plane.jpg");
}

.group-pic-img {
    background-image: url("static/plane.jpg");
}

.big-img>h1 {
    font-size: 3em;
    margin: 0;
}

.big-img>i {
    font-size: 0.75em;
    color: rgb(57, 57, 57);
}

@media screen and (max-width:600px) {
    :root {
        font-size: 20px;
    }

    .lr-split {
        display: flex;
        flex-direction: column-reverse;
    }

    #med-img {
        width: 100%;
        min-width: none;
        max-width: none;
    }

    #nav-title {
        display: none;
    }
}

#nav-items {
    align-items: center;
}

nav>div>img {
    height: 3em;
}

nav {
    transition: top .5s;
}

nav.up {
    top: -40%;
}

.page {
    padding: 2em;
    max-width: 80ch;
}

#phs-img {
    /* background-image: url("static/phs.png"); */

    max-width: 350px;
    min-width: 300px;
    height: 200px;
    object-fit: cover;
    object-position: center;

}

#eng-img {
    background-image: url("static/engineering.jpg");
}

.pfp-img {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
}

.pfp-img:hover {
    background-color: #01010173;
    background-blend-mode: multiply;
    cursor: pointer;
}

#om {
    background-image: url("static/team/om.jpeg");
}

#allan {
    background-image: url("static/team/allan.jpeg");
}

#amil {
    background-image: url("static/team/amil.jpeg");
}

#kona {
    background-image: url("static/team/kona.jpeg");
}

#nicholas {
    background-image: url("static/team/nicholas.jpeg");
}

#kasper {
    background-image: url("static/team/kasper.jpeg");
}

#branden {
    background-image: url("static/team/branden.jpeg");
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.middle {
    justify-content: center;
}

.member-info {
    display: none;
}

.member-info.active {
    display: block;
}

.pfp-img {
    display: flex;
    align-items: flex-end;
}

.pfp-img>h2 {
    opacity: 0;
    position: relative;
    margin: 0.5rem;
    color: white;
    font-size: 1.5rem;
}

.pfp-img:hover>h2 {
    opacity: 1;
}

.nav-arrow:hover {
    cursor: pointer;
    background: rgb(190, 190, 190);
    box-shadow: 2px 2px 2px #00000071;
}

.nav-arrow {
    background: rgb(217, 217, 217);
    border-radius: 1rem;
    font-size: 40px;
    height: 2rem;
    width: 2rem;
    display: flex;
    align-content: center;
    text-align: center;
}

.member-name {
    display: inline;
    margin: 0 1rem;
}

.member-container {
    background: rgb(231, 231, 231);
    border-radius: 1rem;
    margin: 1rem 0;
    padding: 1rem;
}

.member-role {
    font-style: italic;
    color: #444;
    font-size: 0.75rem;
}

.hidden {
    opacity: 0;
}

iframe {
    border: none;
}

nav>div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#outer-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.page {
    margin-inline: auto;
}