:root {
    font-family: sans-serif;
}

* {
    transition: all 0.2s;
}

body {
    font-family: "Inter";
    margin: 0;
    background: #eeeeee;
    color: black;
}

#top {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-image: url("flight.jpg");
    background-repeat: no-repeat;
    padding: 1em;

    box-shadow: 0 -1em 10em black inset;
}

#top-interior>div>a {
    color: #6bafe7;
}

#top-interior {
    position: absolute;
    bottom: 0;
    color: white;
    padding-bottom: 2em;
}

h1.massive {
    font-size: 6rem;
    font-weight: 800;
    margin: 0;
}

a {
    color: #0060bf;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 2rem);
    max-width: 100%;
    padding: 0.5rem 1rem;
    background: #eeeeee;
    border-bottom: #010101 solid 0.07em;
    justify-content: space-between;
}

nav>div>img {
    height: 3em;

}

nav.up {
    top: -20%;
}

.page {
    padding: 2em;
    max-width: 80ch;
}

.flex {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.flex.row {
    flex-direction: row;
}

.flex.center {
    justify-content: center;
}